---
import type { CmsPage } from '../../../core/types';
import type { SiteConfig } from '../../../../siteConfig/core/types';

import PageSectionsRenderer from '../../../sections/public/PageSectionsRenderer.astro';
import { contentSectionRegistry } from '../sections/registry';

interface Props {
	page: CmsPage;
	site: SiteConfig;
}

const { page } = Astro.props as Props;
---

<main class="w-full text-[var(--site-color-text)]">
	<PageSectionsRenderer content={page.content} registry={contentSectionRegistry} template="content" />
</main>
